[submodule "src/fmt"]
	path = src/fmt
	url = https://github.com/fmtlib/fmt.git
	branch = master
[submodule "src/cereal"]
	path = src/cereal
	url = https://github.com/USCiLab/cereal.git
	branch = master
[submodule "src/zstd"]
	path = src/zstd
	url = https://github.com/facebook/zstd.git
	branch = master
[submodule "src/snappy"]
	path = src/snappy
	url = https://github.com/google/snappy.git
	branch = master
[submodule "src/rocksdb"]
	path = src/rocksdb
	url = https://github.com/facebook/rocksdb.git
	branch = master
[submodule "src/jemalloc"]
	path = src/jemalloc
	url = https://github.com/jemalloc/jemalloc.git
	branch = master
[submodule "src/zlib"]
	path = src/zlib
	url = https://github.com/madler/zlib.git
	branch = master
[submodule "src/spdlog"]
	path = src/spdlog
	url = https://github.com/gabime/spdlog
	branch = master
[submodule "src/tbb"]
	path = src/tbb
	url = https://github.com/01org/tbb.git
	branch = master
[submodule "src/Catch2"]
	path = src/Catch2
	url = https://github.com/catchorg/Catch2.git
	branch = master
[submodule "src/Celero"]
	path = src/Celero
	url = https://github.com/DigitalInBlue/Celero.git
	branch = master
[submodule "src/CMake"]
	path = src/CMake
	url = https://github.com/Kitware/CMake.git
	branch = master
[submodule "src/lz4"]
	path = src/lz4
	url = https://github.com/lz4/lz4.git
	branch = master
[submodule "src/pugixml"]
	path = src/pugixml
	url = https://github.com/zeux/pugixml.git
	branch = master
[submodule "src/sajson"]
	path = src/sajson
	url = https://github.com/chadaustin/sajson.git
	branch = master
[submodule "src/fbthrift"]
	path = src/fbthrift
	url = https://github.com/facebook/fbthrift.git
[submodule "src/sse4-strstr"]
	path = src/sse4-strstr
	url = https://github.com/WojciechMula/sse4-strstr.git
	branch = master
[submodule "src/yaml-cpp"]
	path = src/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
	branch = master
[submodule "src/benchmark"]
	path = src/benchmark
	url = https://github.com/google/benchmark.git
	branch = master
[submodule "src/Clara"]
	path = src/Clara
	url = https://github.com/catchorg/Clara.git
	branch = master
[submodule "src/libzmq"]
	path = src/libzmq
	url = https://github.com/zeromq/libzmq.git
	branch = master
[submodule "src/zguide"]
	path = src/zguide
	url = https://github.com/booksbyus/zguide.git
	branch = master
